
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Конец игры</title>
</head>
<body>
    <h3>Результаты игры</h3>
    Деньги: @ViewBag.score
</body>
</html>
